@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-color: #fff;
  --green-color: #244d4d;
  --hover-color: #779;
  --light-color: #f6f6f6;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
section {
  padding: 2rem 10%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  font-size: 0.9rem;
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 0.5rem;
  margin-top: 1rem;
}
.btn:hover {
  background-color: var(--hover-color);
}
ion-icon {
  cursor: pointer;
  transition: color 0.3s;
}

/* Nav */
header {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-color);
}
header .logo {
  display: flex;
  align-items: center;
  color: var(--green-color);
  font-weight: 700;
}
header .logo ion-icon {
  font-size: 3rem;
  margin-right: 0.5rem;
}
header .logo .text {
  font-size: 2rem;
  color: red;
}
header .search {
  display: flex;
  align-items: center;
  width: 30%;
  border: 1px solid var(--green-color);
  border-radius: 10px;
  padding: 0.2rem 1rem;
}
header .search input {
  flex: 1;
  outline: none;
  border: none;
  padding: 0.5rem;
  background-color: transparent;
}
header .search ion-icon {
  font-size: 1.2rem;
  color: var(--green-color);
}
header .icon_menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--green-color);
}
.icon_menu .search_icon {
  display: none;
}
header .search ion-icon:hover,
header .menu_icon ion-icon:hover,
header .container_icon ion-icon:hover {
  color: var(--hover-color);
}
header .container_icon {
  position: absolute;
  top: 0;
  right: -110%;
  display: none;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: right 0.5s ease-in;
}
header .container_icon.active {
  right: 0;
  display: flex;
}
header .container_icon nav,
header .container_icon .cart_container,
header .container_icon .user_container {
  width: 20%;
  height: 100%;
  display: none;
  padding: 1rem;
  background-color: var(--white-color);
  transition: right 0.5s ease-in;
}
header .container_icon.active nav.active,
header .container_icon.active .cart_container.active,
header .container_icon.active .user_container.active {
  display: block;
}
header .container_icon .cancel {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  color: var(--green-color);
}

header .container_icon nav ul {
  width: 100%;
  text-align: center;
  margin-top: 40%;
}
header .container_icon nav ul li {
  margin: 1rem;
}
header .container_icon nav ul li a {
  font-size: 1.2rem;
  color: var(--green-color);
  transition: 0.3s;
}
header .container_icon nav ul li a:hover {
  color: var(--hover-color);
}
header .container_icon .cart_container .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5rem;
}
.cart_container .cart .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.cart_container .cart .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart .data_cart .name_product {
  font-size: 1.1rem;
  color: var(--green-color);
}
.cart .data_cart .price {
  font-size: 0.8rem;
  color: var(--hover-color);
}
.cart .cancel_cart {
  font-size: 1.2rem;
  color: var(--hover-color);
}
.cart_container .price_total {
  text-align: center;
  padding: 1rem;
  color: var(--hover-color);
  font-size: 1rem;
}
.cart_container .price_total span {
  color: var(--green-color);
  font-weight: 700;
}
.cart_container .btn {
  display: block;
  text-align: center;
  background-color: var(--green-color);
  padding: 0.5rem;
  margin-right: 1rem;
}
.cart_container .btn:hover {
  background-color: var(--hover-color);
}

.container_icon .user_container .user {
  width: 100%;
  margin-top: 30%;
  padding: 1rem;
  border: 1px solid var(--green-color);
}
.container_icon .user_container .user .title_form {
  color: var(--green-color);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.container_icon .user_container .user form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: 1px solid var(--hover-color);
}
.container_icon .user_container .user form label {
  font-size: 0.9rem;
}
.container_icon .user_container .user form .btn {
  width: 100%;
  border: none;
  margin: 1rem 0;
}
.container_icon .user_container .user p {
  font-size: 0.9rem;
}
.container_icon .user_container .user p a {
  color: var(--green-color);
  transition: 0.2s;
}
.user_container .user p a:hover {
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

/* Home */
.home {
  background: linear-gradient(
    180deg,
    var(--white-color),
    var(--light-color),
    var(--white-color)
  );
  position: relative;
}
.home .home_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 5%;
}
.home .home_content .text h4 {
  font-size: 1rem;
  color: var(--hover-color);
}
.home .home_content .text h3 {
  font-size: 2rem;
  color: var(--green-color);
}
.home .home_content .text p {
  color: var(--hover-color);
  font-size: 1rem;
}
.home .home_content .image {
  width: 70%;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--light-color);
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: var(--green-color);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--white-color);
  background-color: var(--green-color);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
}

.home .home_content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Categories*/
.categories_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heading_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--green-color);
  color: var(--green-color);
}
.heading_title a {
  color: var(--green-color);
}
.heading_title a:hover {
  color: var(--hover-color);
}
.categories_section .categories_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.categories_section .categories_container .categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--green-color);
  transition: color 0.2s;
}
.categories_section .categories_container .categorie:hover {
  background-color: var(--green-color);
  color: var(--white-color);
}
.categories_section .categories_container .categorie:hover img {
  filter: invert(1);
}
.categorie p {
  font-size: 0.9rem;
}

/* Product */
.products_section .products_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}
.products_container .product {
  margin-top: 1rem;
  background-color: #f2f2f2;
}
.products_section .products_container .product .image {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.products_container .product .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.products_container .product .image .interaction_product {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s;
}
.products_container .product .image .interaction_product ion-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--green-color);
  padding: 0.5rem;
  background-color: var(--white-color);
}
.product .price,
.product h3,
.product .evaluation {
  padding: 0 0.5rem;
  margin-bottom: 0.2rem;
}
.products_container .product .image .interaction_product ion-icon:hover {
  color: var(--white-color);
  background-color: var(--green-color);
}
.product .image .interaction_product .eye_off {
  display: none;
  transition: display 0.2s;
}
.product .image .interaction_product.active .eye {
  display: none;
}
.product .image .interaction_product.active .eye_off {
  display: initial;
}
.product .price {
  color: var(--hover-color);
}
.product h3 {
  color: var(--green-color);
}
.products_container .product:hover .image img {
  transform: scale(1.3);
}
.products_container .product:hover .image .interaction_product {
  height: 100%;
}
.product .evaluation ion-icon:nth-child(1),
.product .evaluation ion-icon:nth-child(2),
.product .evaluation ion-icon:nth-child(3),
.product .evaluation ion-icon:nth-child(4) {
  color: gold;
}

/* Services  */
.services_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.services_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.services_container .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--green-color);
}
.services_container .service h3 {
  color: var(--green-color);
  font-size: 1.2rem;
}

/* Advantages */
.pourcent_off {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.pourcent_off .content_off {
  position: relative;
  overflow: hidden;
}
.content_off img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.content_off .data_off {
  position: absolute;
  top: 20%;
  left: 2rem;
}
.content_off:hover img {
  transform: scale(1.1);
}

/* Contact */
.contact-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact_container {
  display: flex;
  gap: 2rem;
}
.contact_container .maps {
  width: 50%;
}
.contact_container .maps iframe {
  width: 100%;
}
.contact_container form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact_container form input {
  width: 100%;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
}
.contact_container form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  height: 25vh;
  resize: none;
}
.contact_container form input[type="submit"] {
  background-color: var(--green-color);
  color: var(--light-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.contact_container form div .error {
  font-size: 0.8rem;
  color: red;
}

/* Footer */
footer {
  width: 100%;
  background-color: var(--light-color);
}
footer .container_footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 10%;
}
footer .container_footer .links h3 {
  color: var(--green-color);
  margin-bottom: 1rem;
}
.container_footer .links ul li {
  margin-bottom: 0.5rem;
}
.container_footer .links ul li a {
  color: var(--green-color);
  transition: all 0.3s ease-in-out;
}

.container_footer .links ul li a:hover ion-icon {
  padding-right: 1rem;
}
.container_footer .newsletter input {
  outline: none;
  padding: 0.5rem;
  background-color: var(--light-color);
  border: 1px solid var(--green-color);
}
.footer .creation {
  text-align: center;
  padding: 1rem;
  background-color: var(--green-color);
  color: var(--white-color);
}

@media (max-width: 800px) {
  section {
    padding: 2rem 5%;
  }

  .icon_menu .search_icon {
    display: inline-block;
  }
  header .search {
    display: none;
  }
  header .search.active {
    position: absolute;
    left: 25%;
    bottom: -3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: var(--light-color);
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 10;
  }
  header .container_icon nav,
  header .container_icon .cart_container,
  header .container_icon .user_container {
    width: 60%;
  }
  .pourcent_off {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories_section .categories_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .products_section .products_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .container_footer {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 5%;
  }
}
@media (max-width: 700px) {
  header .container_icon.active nav.active,
  header .container_icon.active .cart_container.active,
  header .container_icon.active .user_container.active {
    width: 80%;
  }
  .home .home_content {
    grid-template-columns: 1fr;
  }
  .home .home_content .image {
    width: 100%;
  }
  .services_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  header .container_icon nav,
  header .container_icon .cart_container,
  header .container_icon .user_container {
    width: 50%;
  }
  .pourcent_off {
    grid-template-columns: 1fr;
  }
  .categories_section .categories_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .products_section .products_container {
    grid-template-columns: 1fr;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .services_container {
    grid-template-columns: 1fr;
  }
  header .logo ion-icon {
    font-size: 2rem;
    margin-right: 0.2rem;
  }
  header .icon_menu ion-icon {
    margin-right: 0.2rem;
  }
  .contact_container .maps {
    display: none;
  }
  .contact_container form {
    width: 100%;
  }
}
@media (max-width: 450px) {
  header .container_icon nav,
  header .container_icon .cart_container,
  header .container_icon .user_container {
    width: 80%;
  }
  header .search.active {
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 300px) {
  .categories_section .categories_container {
    grid-template-columns: 1fr;
  }
}
